@import '../../config/css/color.scss';

.playerWrap {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px 250px;
}
.player {
  flex-grow: 1;
  height: 100%;
  background-color: blue;
}
.listWrap {
  height: 100%;
  overflow-y: scroll;
  background-color: $lightOrange;
}
.flexWrap {
  display: flex;
  height: 100px;
  flex-wrap: nowrap;
  margin-top: 3px;

  .flexVideo {
    width: 100px;
    background-color: yellow;
  }
  .flexContent {
    width: 250px;
    background-color: blue;
  }
  h1 {
    font-size: 30px;
  }
}
