.player-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px 250px;
  .player {
    flex-grow: 1;
    height: 100%;
    background-color: blue;
  }
  .list-wrap {
    height: 100%;
    overflow-y: scroll;
    .flex-wrap {
      display: flex;
      height: 100px;
      flex-wrap: nowrap;
      margin-top: 3px;
      .flex-video {
        width: 100px;
        background-color: yellow;
      }
      .flex-content {
        width: 250px;
        background-color: blue;
      }
      h1 {
        font-size: 30px;
      }
    }
  }
}
