@import '../config/css/color.scss';

#footer-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  background: #2e2e2e;
  text-align: center;
  height: 250px;
  z-index: 999;

  .card-wrap {
    background: #2e2e2e !important;
    .card-title {
      font-size: 1.5em;
      color: #ff9300;
      margin-bottom: 15px;
    }
    .cardUi {
      li {
        list-style-type: none;
        color: rgb(183, 172, 172);
        margin-bottom: 10px;
      }
      h6 {
        display: inline;
        margin-left: 15px;
        color: gray;
        font-size: 15px;
      }
    }
  }
}

#top-navbar--wrap {
  background: #2e2e2e;
  .container-fluid {
    margin: 0 250px;
  }
  .container-fluid a {
    color: #ff9300;
  }
  .container-fluid ul {
    background: #2e2e2e;
  }
}

@mixin textStyle {
  color: $lightOrange;
  font-size: 17px;
  font-family: 'pretendar';
}

#top-navbar--wrap2 {
  width: 100pv;
  height: 55px;
  background: $darkGray;

  .top-navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
    @include textStyle;
  }
  .nav-content {
    display: flex;
    align-items: center;
    .navbar-nav,
    a {
      margin-right: 15px;
      @include textStyle;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      button {
        @include textStyle;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        background-color: $lightOrange;

        a {
          width: 100%;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid $darkGray;
        }
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}
